.App {
  text-align: center;
  background-color: #FEFEE3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  background-color: #FEFEE3;
}

.main-container {
  display: grid;
  grid-template-rows: .2fr 6fr 1fr 10fr;
}

.home {
  grid-row: 2/3;
  text-align: center;
}

.form-main, form label {
  grid-row: 3/4;
  text-align: center;
  align-self: center;
  background-color: #4C956C;
}

header div {
  background-color: #D68C45;
  
}

footer div {
  background-color: #B02E0C;
}

.home img {
  width: 100%;
}

.home h2 {
  margin: 0rem 0rem 2.5rem 0rem;
  /* color: #2C6E49; */
  /* color: #8AA404; */
  /* color: #4C956C; */
  color: #B02E0C;

}

.weather-container {
  grid-row: 4/5;
  margin-top: 3rem;
}

#location-head {
  justify-self: center;
}

.weather span {
  font-size: .9em;
}

.weather h4, h5 {
  margin: .5rem;
  text-align: left;
  font-size: 1rem;
}

.weather-icon {
  grid-row: 1; 
  justify-self: center;
}
