@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poiret+One&family=Roboto:wght@300&display=swap");

.App {
  text-align: center;
  background-color: #fefee3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  background-color: #fefee3;
}

.home {
  text-align: center;
}

.form-main,
form label {
  text-align: center;
  align-self: center;
  /* background-color: #4c956c; */
  background-color: #89A104;
}

header,
footer {
  font-family: Roboto;
  font-weight: bold;
}

.home img {
  width: 90%;
}

.home h2 {
  margin: 0rem 0rem 2.5rem 0rem;

  color: #b02e0c;
}

.weather-container {
  margin-top: 3em;
}

#location-head h3,
h5 {
  text-align: center;
  margin: 0.5em;
}

.weather h4 {
  text-align: center;
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: .5em
}

.weather h5 {
  margin: 0.5em;
  text-align: left;
  font-size: 1rem;
}

.about {
  margin: 1rem;
}

.about img {
  display: block;
  margin: 1rem;
}

footer {
  text-align: center;
}
